<!DOCTYPE html>
<html>
<head>
    <title>$!page_title</title>
    #include("/common/head.vm")
</head>
<body data-type="widgets">
<script src="/static/js/theme.js"></script>
<div class="am-g tpl-g">
    #parse("/common/header.vm")
    #parse("/common/list.vm")
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">$!body_name</div>
                        </div>
                        $screen_content
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>