<!DOCTYPE html>
<html>

<head>
    <title>$!page_title</title>
    #parse("/common/head.vm")
</head>

<body data-type="login">
<script src="${pageContext.request.contextPath }/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <div class="tpl-login">
        <div class="tpl-login-content">
            $screen_content
        </div>
    </div>
</div>
<script src="/static/js/theme.js"></script>
<script src="/static/js/amazeui.min.js"></script>
<script src="/static/js/app.js"></script>
</body>
</html>