#set($page_title="单车租借记录")
#set($body_name="单车租借记录列表")

<div class="widget-body  am-fr">
    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
        <div class="am-form-group"></div>
    </div>
    <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
        <div class="am-form-group tpl-table-list-select">
        </div>
    </div>
    <%--    <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
        <input type="text" class="am-form-field ">
        <span class="am-input-group-btn">
                    <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
                </span>
    </div>
</div>--%>
    <div class="am-u-sm-12">
        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
            <thead>
            <tr>
                <th>序号</th>
                <th>单车编号</th>
                <th>用户编号</th>
                <th>租借时间</th>
                <th>归还时间时间</th>
                <th>开始经度</th>
                <th>开始纬度</th>
                <th>结束经度</th>
                <th>结束纬度</th>
                <th>花费</th>
                <th>余额</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            #foreach(${borrow} in ${pageBorrows})
                <tr class="gradeX">
                    <td class="am-text-middle">${borrow.borrowId}</td>
                    <td class="am-text-middle">${borrow.bicycleId}</td>
                    <td class="am-text-middle">${borrow.userId}</td>
                    <td class="am-text-middle">
                        <fmt:formatDate value="${borrow.borrowStartTime}" type="both"/>
                    </td>
                    <td class="am-text-middle">
                        <fmt:formatDate value="${borrow.borrowEndTime}" type="both"/>
                    </td>
                    <td class="am-text-middle">${borrow.borrowStartX}</td>
                    <td class="am-text-middle">${borrow.borrowStartY}</td>
                    <td class="am-text-middle">${borrow.borrowEndX}</td>
                    <td class="am-text-middle">${borrow.borrowEndY}</td>
                    <td class="am-text-middle">${borrow.cost}</td>
                    <td class="am-text-middle">${borrow.remaining}</td>
                    <td class="am-text-middle">
                        <div class="tpl-table-black-operation">
                            <a href="/borrow/admin-borrow-delete-execute/${borrow.borrowId}" class="tpl-table-black-operation-del">
                                <i class="am-icon-trash"></i> 删除
                            </a>
                        </div>
                    </td>
                </tr>
            #end
            </tbody>
        </table>
    </div>
    #if($pagePoint)
        <div class="am-u-lg-12 am-cf" style="font-size:14px;">
            <div class="am-fr">
                <ul class="am-pagination tpl-pagination">
                    #set($pre = ${pagePoint} - 1)
                    <li><a href="/borrow/admin-borrow-list-show?page=${pre}">«</a></li>
                    <li><a>当前第${pagePoint}页(共${pageMax}页)</a></li>
                    <li><a href="#!" id="skipBtn"> 跳转到&nbsp;<input type="text" name="pagePoint" style="width:20px;height: 14px; color:black; font-size: 10px;">&nbsp;页</a></li>
                    #set($left = ${pagePoint} + 1)
                    <li><a href="/borrow/admin-borrow-list-show?page=${pre}">»</a></li>
                </ul>
            </div>
        </div>
    #end
</div>

<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
<script type="text/javascript">

    $(function(){
        $("#skipBtn").on("click",function(){
            var page = $("#skipBtn>input").val();
            if(page == ""){
                page = 1;
            }
            window.location = "${pageContext.request.contextPath}/admin-borrow-list-show?page=" + page;
        });
        $("#skipBtn > input").on("click", function() {
            return false;
        });
    })

</script>
</body>

</html>