#set($layout="/layout/layout-index.vm")
#set($page_title="单车后台管理")

<div class="tpl-content-wrapper">
    <div class="container-fluid am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span>
                    "WOFI单车"控制台主页
                </div>
            </div>
        </div>
    </div>
    <div class="row-content am-cf">
        <div class="row  am-cf">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">实时数据信息</div>
                        <div class="widget-function am-fr">
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <div class="am-fl">
                            <div class="widget-fluctuation-description-amount text-success" am-cf
                                 style="font-size: 14px;">
                                今日用户充值金额: ${rechargeCount}|今日已消费金额: ${borrowCost}
                                <br>
                                当前使用中车辆: ${bicycleCountUsing}
                                <br>
                                绿色车辆数: ${bicycleCountGreen}|红色车辆数: ${bicycleCountRed}
                            </div>
                        </div>
                        <div class="am-fr am-cf">
                            <div class="widget-fluctuation-description-amount text-success" am-cf
                                 style="font-size: 18px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                <div class="widget widget-primary am-cf">
                    <div class="widget-statistic-header">
                        当前总用户量
                    </div>
                    <div class="widget-statistic-body">
                        <div class="widget-statistic-value">
                            ${userCount}
                        </div>
                    </div>
                    <div class="widget-statistic-description">
                        <a href="/user/admin-user-list-show?page=1"
                           style="color:#9cdcf2;">点击查看用户列表与更多用户相关操作</a>
                    </div>
                    <span class="widget-statistic-icon am-icon-user"></span>
                </div>
            </div>
            <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                <div class="widget widget-purple am-cf">
                    <div class="widget-statistic-header">
                        当前单车总量
                    </div>
                    <div class="widget-statistic-body">
                        <div class="widget-statistic-value">
                            ${bicycleCount}
                        </div>
                        <div class="widget-statistic-description">
                            <a href="/bicycle/admin-bicycle-list-show?page=1"
                               style="color:#ded5e7;">点击查看单车列表与详细单车信息</a>
                        </div>
                        <span class="widget-statistic-icon am-icon-bicycle"></span>
                    </div>
                </div>
            </div>
        </div>
            <div class="row am-cf">
                <div class="am-u-sm-12 am-u-md-12">
                    <div class="widget am-cf">
                        <div id="container" style="width: auto;height: 500px;">
                            <script language="JavaScript" src="/static/js/map.js"></script>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-8 widget-margin-bottom-lg">
        <div class="widget am-cf widget-body-lg">
            <div class="widget-body  am-fr">
                <div class="am-scrollable-horizontal ">
                    <table width="100%"
                           class="am-table am-table-compact am-text-nowrap tpl-table-black " id="">
                        <thead>
                        <tr>
                            <th>管理员通知</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        #foreach(${adminMessage} in ${adminMessages})
                            <tr class="gradeX">
                                <td>${adminMessage.adminMessageTitle}</td>
                                <td>
                                    <div class="tpl-table-black-operation">
                                        <a href="/index/admin-index-message-show/${adminMessage.adminMessageId}">
                                            <i class="am-icon-list-alt"></i> 查看
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        #end
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row am-cf">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-4 widget-margin-bottom-lg ">
            <div class="tpl-user-card am-text-center widget-body-lg">
                <div class="tpl-user-card-title" style="font-size: 20px;">
                    员工证
                </div>
                <img class="achievement-image" src="/static/img/admin/admin2.png"
                     alt="" width=80 height=80>
                <div class="achievement-subheading">
                    <p style="font-size:18px; font-weight: bold;">${admin.adminName}</p>
                </div>
                <div class="achievement-description" style="text-align: left; margin-left: 20px;">
                    <p style="font-size:16px">管理员编号：${admin.adminId}</p>
                    <p style="font-size: 16px">联系邮箱：${admin.adminEmail}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/theme.js"></script>
<script src="/static/js/amazeui.min.js"></script>
<script src="/static/js/app.js"></script>