#set($page_title="修改管理员信息")
#set($body_name="修改管理员信息")

<div class="widget-body am-fr">
    <form autocomplete="off" class="am-form tpl-form-line-form" action="/admin/admin-edit" method="post">
        <input type="hidden" name="id" value="${requestScope.admin.adminId }">
        <div class="am-form-group">
            <label class="am-u-sm-3 am-form-label">管理员名 </label>
            <div class="am-u-sm-9">
                <input type="text" class="tpl-form-input" name="name" value="${requestScope.admin.adminName }">
            </div>
        </div>
        <div class="am-form-group">
            <label class="am-u-sm-3 am-form-label">密码</label>
            <div class="am-u-sm-9">
                <input type="password" class="tpl-form-input" name="password" value="${requestScope.admin.adminPassword }">
            </div>
        </div>
        <div class="am-form-group">
            <label class="am-u-sm-3 am-form-label">邮箱 </label>
            <div class="am-u-sm-9">
                <input type="email" class="tpl-form-input" name="email" value="${requestScope.admin.adminEmail }">
            </div>
        </div>
        <div class="am-form-group">
            <div class="am-u-sm-9 am-u-sm-push-3">
                <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
            </div>
        </div>
    </form>
</div>

<script src="/static/js/amazeui.min.js"></script>
<script src="/static/js/app.js"></script>
</body>

</html>
