#set($page_title="管理员界面")
#set($body_name="管理员列表")

<div class="widget-body  am-fr">
    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
        <div class="am-form-group"></div>
    </div>
    <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
        <div class="am-form-group tpl-table-list-select">
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
        <form action="admin/admin-searchadmin"
              method="get">
            <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                <input type="text" class="am-form-field" name="name">
                <span class="am-input-group-btn">
            								<button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search"
                                                    type="submit"></button>
          								</span>
            </div>
        </form>
    </div>

    <div class="am-u-sm-12">
        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
            <thead>
            <tr>
                <th>管理员名</th>
                <th>管理员邮箱</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                #foreach($admin in $pageAdmins)
                <tr class="gradeX">
                    <td class="am-text-middle">${admin.adminName}</td>
                    <td class="am-text-middle">${admin.adminEmail}</td>
                    <td class="am-text-middle">
                        <div class="tpl-table-black-operation">
                            <a href="/admin/admin-admin-editadmin-show/${admin.adminId}">
                                <i class="am-icon-pencil"></i> 编辑
                            </a>
                            <a href="/admin/admin-admin-removeadmin-execute/${admin.adminId}"
                               class="tpl-table-black-operation-del">
                                <i class="am-icon-trash"></i> 删除
                            </a>
                        </div>
                    </td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
    #if($pagePoint)
        <div class="am-u-lg-12 am-cf" style="font-size:14px;">
            <div class="am-fr">
                <ul class="am-pagination tpl-pagination">
                    <li>
                        <a href="/admin/admin-lis?page=${pagePoint}-1">«</a>
                    </li>
                    <li><a>当前第${pagePoint}页(共${pageMax}页)</a></li>
                    <li><a href="#!" id="skipBtn"> 跳转到&nbsp;<input type="text" name="pagePoint" style="width:20px;height: 14px; color:black; font-size: 10px;">&nbsp;页</a>
                    </li>
                    <li>
                        <a href="/admin/admin-list?page=${pagePoint}+1">»</a>
                    </li>
                </ul>
            </div>
        </div>
    #end
</div>
<script src="/static/js/amazeui.min.js"></script>
<script src="/static/js/app.js"></script>
<script type="text/javascript">
    $(function () {
        $("#skipBtn").on("click", function () {
            var page = $("#skipBtn > input").val();
            if (page == "") {
                page = 1;
            }
            window.location = "/admin/list?page="+page;
        });
        $("#skipBtn > input").on("click", function () {
            return false;
        });
    })
</script>