#set($page_title="管理员通知")
#set($body_name="管理员通知列表")

<div class="widget-body  am-fr">
    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
        <div class="am-form-group">
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                    <a href="/admin/admin-admin-searchmessage-show" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</a>
                </div>
            </div>
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
        <div class="am-form-group tpl-table-list-select">
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
        <form action="/admin/admin-admin-searchmessage-show method="get">
            <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                <input type="text" class="am-form-field" name="title">
                <span class="am-input-group-btn">
                    <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="submit"></button>
                </span>
            </div>
        </form>
    </div>
    <div class="am-u-sm-12">
        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
            <thead>
            <tr>
                <th>管理员通知</th>
                <th>发布者编号</th>
                <th>时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            #foreach($adminMessage in $pageAdminMessages)
                <td class="am-text-middle">${adminMessage.adminMessageTitle}</td>
                <td class="am-text-middle">${adminMessage.adminId}</td>
                <td class="am-text-middle">
                    <fmt:formatDate value="${adminMessage.adminMessageTime}" pattern="yyyy-MM-dd hh:mm"/>
                </td>
                <td class="am-text-middle">
                    <div class="tpl-table-black-operation">
                        <a href="/admin/admin-admin-editadminmessage-show/${adminMessage.adminMessageId}">
                            <i class="am-icon-pencil"></i> 编辑
                        </a>
                        <a href="/admin/admin-admin-removeadminmessage-show/${adminMessage.adminMessageId}" class="tpl-table-black-operation-del">
                            <i class="am-icon-trash"></i> 删除
                        </a>
                    </div>
                </td>
                </tr>
            #end
            <tr class="gradeX">
            </tbody>
        </table>
    </div>
    #if(${pagePoint})
        <div class="am-u-lg-12 am-cf" style="font-size:14px;">
            <div class="am-fr">
                <ul class="am-pagination tpl-pagination">
                    #set($per = ${pagePoint} - 1)
                    <li><a href="/admin/admin-admin-message-show?page=${per}">«</a></li>
                    <li><a>当前第${pagePoint}页(共${pageMax}页)</a></li>
                    <li><a href="#!" id="skipBtn"> 跳转到&nbsp;<input type="text" name="pagePoint" style="width:20px;height: 14px; color:black; font-size: 10px;">&nbsp;页</a></li>
                    #set($left = ${pagePoint} + 1)
                    <li><a href="/admin/admin-admin-message-show?page=${left}">»</a></li>
                </ul>
            </div>
        </div>
    #end
</div>

<script src="/static/js/theme.js"></script>
<script src="/static/js/amazeui.min.js"></script>
<script src="/static/js/app.js"></script>
<script type="text/javascript">
    $("#skipBtn").on("click", function() {
        var point = $("#skipBtn input").val();
        if (point == "") {
            return false;
        }
        var url = "/admin/admin-admin-message-show?page=" + point;
        window.location = url;
        return false;
    })
    $("#skipBtn input").on("click", function() {
        return false;
    })
</script>
</body>

</html>